body {
  font-family: Helvetica;
  padding-top: 100px;
  display: flex;
  justify-content: center; }

.container {
  display: flex;
  flex-wrap: wrap;
  background-color: #9d2527;
  width: 150px; }
  .container .headline {
    cursor: pointer;
    font-size: 20px;
    color: #ffe2bd;
    text-align: center;
    width: 100%;
    padding: 20px; }
  .container .content {
    overflow: hidden;
    height: 0;
    opacity: 0; }
